<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

  namespace：名称空间,随便写
  id：唯一标识
  resultType:返回值类型
  #{id}:从传递过来的参数中，取出id值

  唯一标识：建议用命名空间+id 组合成为唯一标识

-->
<mapper namespace="com.hx.mybatis.bean.EmployeeMapper">
    <select id="selectEmployee" resultType="com.hx.mybatis.bean.Employee">
       select * from tbl_Employee where id = #{id}
    </select>
</mapper>